[submodule "Lotus/vendor/spdlog"]
	path = Lotus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lotus/vendor/GLFW"]
	path = Lotus/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Lotus/vendor/imgui"]
	path = Lotus/vendor/imgui
	url = https://github.com/lqj126/imgui
[submodule "Lotus/vendor/glm"]
	path = Lotus/vendor/glm
	url = https://github.com/g-truc/glm
