[submodule "Lotus/vendor/spdlog"]
	path = Lotus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lotus/vendor/GLFW"]
	path = Lotus/vendor/GLFW
	url = https://github.com/TheCherno/glfw
